/* -----------------------------General------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    border-radius: 28px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
}

.display{
    grid-column: span 4;
    height: 68px;
    width: 258px;
    border: none;
    border-radius: 32px;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.display-enter {
    justify-content: flex-end;
    text-overflow: ellipsis;
}

.display-result {
    justify-content: flex-start;
    text-overflow: ellipsis;
}

button{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}

.modeButton{
    margin-right: 30px;
    margin-top: 20px;
}

.calc-equals{
    width: 120px;
    border-radius: 42px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
}

/* ----------------------------Light Mode ----------------------------------------*/

.container-light{
    background-color: #ecf0f3;
}

.calc-light {
    box-shadow: 6px 6px 13px #fff,
    6px 6px 13px rgba(0, 0, 0, 0.284);
}

.display-light{
    box-shadow: inset -6px -6px 13px #fff,
    inset 6px 6px 13px rgba(0, 0, 0, .16);
    background-color: #ecf0f3;
    color: rgba(0, 0, 0, 0.54);
}

button.button-light{
    box-shadow:  inset 6px 6px 13px #fff,
     6px 6px 13px rgba(0, 0, 0, .16);
    background-color: #ecf0f3;
    color: rgba(0, 0, 0, 0.54);
}

button.button-light:active {
    background-color: rgb(122, 122, 122);
    box-shadow:  inset 6px 6px 13px rgba(0, 0, 0, .16),
    6px 6px 13px #fff;
    color: #ecf0f3;
}

.material-icons.md-dark { 
    color: rgba(0, 0, 0, 0.54); 
    background-color: #ecf0f3;
}

/* --------------------------------Dark Mode---------------------------------- */

.container-dark{
    background-color: #212121;
}

.calc-dark {
    box-shadow: 6px 6px 13px #212121,
    6px 6px 13px rgba(0, 0, 0, 0.415);
    background-color: #303030;
}

.display-dark{
    box-shadow: inset -6px -6px 13px #303030,
    inset 6px 6px 13px rgba(0, 0, 0, 0.16);
    background-color: #424242;
    color: rgb(255, 255, 255, 1);
}

button.button-dark{
    box-shadow:  inset 6px 6px 13px #303030,
     6px 6px 13px rgba(0, 0, 0, .16);
    background-color: #424242;
    color: rgb(218, 218, 218);
}

button.button-dark:active {
    background-color:rgb(218, 218, 218);
    box-shadow:  inset 6px 6px 13px rgba(0, 0, 0, .16),
    6px 6px 13px #000;
    color: #303030;
}

.material-icons.md-light { 
    color: rgba(255, 255, 255, 1); 
}

.material-icons.md-light:active {
    color:#303030;
}

/* -------------------------------Hide Object----------------------------- */

span.hidden {
    display: none;
}

